.company-card {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    flex-wrap: wrap; /* Allow flex items to wrap to the next line */
    margin: 20px;
  }
  
  .company-card .card {
    width: 20rem;
    margin: 10px;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-text {
    margin-top: 10px;
  }
  
  .button {
    margin-top: 10px;
  }
  